<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- The number of degrees of freedom of the Gen3 arm -->
  <arg name="left_dof" default="7"/>
  <arg name="right_dof" default="6"/>

  <!-- The joint and link names prefix used in kortex_description -->
  <arg name="left_prefix" default="left_"/>
  <arg name="right_prefix" default="right_"/>

  <!-- Use the slower (2.0 default) joint speed and acceleration limits, or the hard limits (fastest) -->
  <arg name="use_hard_limits" default="false"/>

  <!-- Load universal robot description format (URDF) -->
  <param if="$(arg load_robot_description)" name="$(arg robot_description)" command="xacro arm:=gen3 '$(find kortex_description)/multiple_robots/kortex_dual_robots.xacro'"/>

  <!-- The semantic description that corresponds to the URDF -->
  <!-- With prefix -->
  <param name="$(arg robot_description)_semantic" command="$(find xacro)/xacro --inorder $(find dual_move_it_config)/config/7dof/Dualgen3.srdf.xacro left_prefix:=$(arg left_prefix) right_prefix:=$(arg right_prefix)"/>

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find dual_move_it_config)/config/7dof/default_joint_limits.yaml" unless="$(arg use_hard_limits)" subst_value="true"/>
    <rosparam command="load" file="$(find dual_move_it_config)/config/7dof/hard_joint_limits.yaml" if="$(arg use_hard_limits)" subst_value="true"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find dual_move_it_config)/config/kinematics.yaml"/>
  </group>

</launch>
